body {
    font-family: Arial;
    color: #3D412D;
    background-color: #E2E6C2
}
h1 {
    color: #181B7A;
}
nav {
    background-color: #C3A695;
}
nav ul {
    list-style: none;
}
nav ul li {
    display: inline;
    padding-left: 10px;
    padding-right: 10px;
}